.env
.env.*
*.env
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/
build/
dist/
*.egg-info/
*.egg
*.db
*.sqlite
*.sqlite3
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.log
logs/

#custom
intelligent_engine_data.json
zz_build_commands.txt